__pycache__/
*.pyc
.ipynb_checkpoints/

node_modules/
frontend/node_modules/

backend/uploads/
uploads/

backend/model/
*.keras
*.h5
*.hdf5
*.pb

.env

venv/
env/
.venv/

.cache/
.DS_Store
Thumbs.db

build/
dist/

*.log
